{% extends "layout.html" %}
{% load accounts_extras %}
{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="{% url 'accounts:applications_view' %}">Applications</a></li>
        <li><a href="{% url 'accounts:view' user.id %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>
    
    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a {% if not filter or filter != 'stat' %} class="selected" {% else %} href="{% url 'accounts:applications_view' %}" {% endif %}>Any Status</a></li>
          <li><a {% if filter and filter == 'stat' and slug and slug == 'undecided' %} class="selected" {% else %} href="{% url 'accounts:applications_view' 'stat' 'undecided' %}" {% endif %}>Undecided</a></li>
          <li><a {% if filter and filter == 'stat' and slug and slug == 'accepted' %} class="selected" {% else %} href="{% url 'accounts:applications_view' 'stat' 'accepted' %}" {% endif %}>Accepted</a></li>
          <li><a {% if filter and filter == 'stat' and slug and slug == 'rejected' %} class="selected" {% else %} href="{% url 'accounts:applications_view' 'stat' 'rejected' %}" {% endif %}>Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--filter--list">
          <li><a {% if not filter or filter != 'proj' %} class="selected" {% else %} href="{% url 'accounts:applications_view' %}" {% endif %}>All Projects</a></li>
          {% for project in project_list %}
          <li><a {% if filter and filter == 'proj' and slug and slug == project.slug %} class="selected" {% else %} href="{% url 'accounts:applications_view' 'proj' project.slug %}" {% endif %}>{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
          <li><a {% if not filter or filter != 'pos' %} class="selected" {% else %} href="{% url 'accounts:applications_view' %}" {% endif %}>All Needs</a></li>
          {% for need in project_needs %}
          <li><a {% if filter and filter == 'pos' and slug and slug == need.slug %} class="selected" {% else %} href="{% url 'accounts:applications_view' 'pos' need.slug %}" {% endif %}>{{ need.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
    {% if messages %}
      <div>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
      <table class="u-full-width circle--table">
        {% if not application_list %}
          <p><strong>No matching applications.</strong></p>
        {% else %}
          <thead>
            <tr>
              <th>Applicant</th>
              <th class="circle--cell--right">Applicant Position</th>
            </tr>
          </thead>
          <tbody>
          
            {% for application in application_list %}
            <tr>  
              <td>
                <h3><a href="{% url 'accounts:view' application.applicant.id %}">{{ application.applicant.full_name }}</a></h3>
                <p>{{ application.position.project.title }}</p>
              </td>
              <td class="circle--cell--right">
                <span class="secondary-label">{{ application.position.title }}</span>
              </td>
              <td class="circle--cell--right">
                {% if application.status == 'undecided' %}
                  <span><a href="{% url 'accounts:application_update' application.id 'accept' %}">Accept</a></span>
                  <span><a href="{% url 'accounts:application_update' application.id 'reject' %}">Reject</a></span>
                {% else %}
                  <span>Status: {{ application.status }}</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

    </div>

  </div>
{% endblock %}
