{% extends "layout.html" %}
{% block content %}
<form id="profile_edit_form" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2><br>
        {% if form.errors or skill_formset_errors or side_project_formset_errors %}
          {% if form.full_name.errors or form.about.errors or skill_formset_errors or side_project_formset_errors %}
            <div style="color:red;"><strong>One or more fields needs correcting.</strong></div>
            <br><br>
          {% endif %}
          {% for error in form.non_field_errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
      </div>
    </div>

    <div class="grid-70">
      {% if form.full_name.errors %}
        {% for error in form.full_name.errors %}
          <div style="color:red;">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}  
      <input type="text" name="full_name" {% if form.full_name.value %} value="{{ form.full_name.value }}" {% endif %} placeholder="Full Name" class="circle--input--h1">
      <div class="circle--article--body">
        {% if form.about.errors %}
        {% for error in form.about.errors %}
          <div style="color:red;">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %} 
        <textarea name="about" form="profile_edit_form" placeholder="Tell us about yourself...">{% if form.about.value %}{{ form.about.value }}{% endif %}</textarea>
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% for position in positions %}
          <tr class="clickable-row" data-href="project.html">
            <td>
              <h3>{{ position.project.title }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ position.title }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <div class="circle--primary--avatar"
            {% if form.instance.avatar %}
                style="background-image: url('{{ form.instance.avatar.url }}');
                       background-size: cover;
                       background-repeat: no-repeat;"
            {% endif %}>
          <a class="button">
            Upload Photo
            <input name="avatar" type="file">
          </a>
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        {{ skill_formset.management_form }}
        {% if skill_formset_errors %}
          {% for error in skill_formset_errors %}
            {% if error %}
              <p style="color:blue;">Skill {{ forloop.counter }}:</p>
              <div style="color:red;">{{ error }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <ul class="circle--clone--list">
        {% for skill_form in skill_formset %}
          <li>    
            {{ skill_form }}
            <a class="circle--clone--add">Add Skill</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        {{ side_project_formset.management_form }}
        <!--{% if side_project_formset_errors %}
          {% for error in side_project_formset_errors %}
            <p style="color:blue;">Side Project {{ forloop.counter }}:</p>
            <div style="color:red;">{{ error }}</div>
          {% endfor %}
        {% endif %}-->
        <ul class="circle--clone--list">
        {% for side_project_form in side_project_formset %}
          <li>
            {{ side_project_form }}
            <a class="circle--clone--add">Add Project</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</form>
{% endblock %}