{% extends "layout.html" %}
{% load accounts_extras %}
{% block content %}
<form id="project_edit_form" action="" method="post">
{% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <input type="submit" class="button button-primary" value="Save Changes">
        <a class="button button-text" href="{% url 'projects:project_delete' object.id %}">Delete Project</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        {% if form.errors %}
          {% if form.title.errors or form.description.errors or form.estimate.errors or form.requirements.errors %}
            <div style="color:red;"><strong>One or more fields needs correcting.</strong></div>
            <br><br>
          {% endif %}
          {% for error in form.non_field_errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        {% if form.title.errors %}
          {% for error in form.title.errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}  
        <input type="text" name="title" {% if form.title.value %} value="{{ form.title.value }}" {% endif %} class="circle--input--h1" placeholder="Project Title" />
        {% if form.description.errors %}
          {% for error in form.description.errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <textarea name="description" placeholder="Project description...">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>
        {% load formset_tags %}
        <div id="formset" data-formset-prefix="{{ position_formset.prefix }}">
            {{  position_formset.management_form }}
            {% if formset_errors %}
              {% for error in formset_errors %}
                {% if error %}
                  <p style="color:blue;">Position {{ forloop.counter }}:</p>
                  <div style="color:red;">{{ error }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
            <div data-formset-body>
                {% for position_form in position_formset %}
                  <div data-formset-form>
                    {{ position_form.id }}
                    {{ position_form.title }}
                    {{ position_form.description }}
                    {{ position_form.project }}
                    <p>Skills:</p>
                    {% for checkbox in position_form.skills %}
                      <span>{{ checkbox.tag }} {{ checkbox.choice_label }}</span>
                    {% endfor %}
                    <br>
                    <div style="display:none">{{ position_form.DELETE }}</div>
                    <input type="button" value="Remove" data-formset-delete-button>
                    <br>
                  </div>
                {% endfor %}
            </div>
            
            <script type="form-template" data-formset-empty-form>
                {% escapescript %}
                    <div data-formset-form>
                        {{ position_formset.empty_form.id }}
                        {{ position_formset.empty_form.title }}
                        {{ position_formset.empty_form.description }}
                        {{ position_formset.empty_form.project }}
                        <p>Skills:</p>
                        {% for checkbox in position_formset.empty_form.skills %}
                            <span>{{ checkbox.tag }} {{ checkbox.choice_label }}</span>
                        {% endfor %}
                        <br>
                        <div style="display:none">{{ position_formset.empty_form.DELETE }}</div>
                        <input type="button" value="Remove" data-formset-delete-button>
                        <br>
                    </div>
                {% endescapescript %}
            </script>
            
            <input type="button" value="Add another" data-formset-add>
            <script>jQuery(function($) {
                $("#formset").formset({
                    animateForms: true
                });
            });</script>
        </div>
        
        <input type="submit" class="button button-primary" value="Save Changes">

      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        {% if form.estimate.errors %}
          {% for error in form.estimate.errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <textarea name="estimate" placeholder="Time estimate" class="circle--textarea--input">{% if form.estimate.value %}{{ form.estimate.value }}{% endif %}</textarea>
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        {% if form.requirements.errors %}
          {% for error in form.requirements.errors %}
            <div style="color:red;">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <textarea name="requirements">{% if form.requirements.value %}{{ form.requirements.value }}{% endif %}</textarea>
      </div>

    </div>
  </div>
</form>
{% endblock %}
