{% extends "layout.html" %}
{% load accounts_extras %}
{% block content %}
<form id="project_create_form" action="" method="post">
{% csrf_token %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
       <input type="submit" class="button button-primary icon-on-left" value="Save Project">
       <a class="button button-text" href="{% url 'home' %}">Discard</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        <input name="title" type="text" class="circle--input--h1" placeholder="Project Title" />
        <textarea name="description" placeholder="Project description..."></textarea>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>
        {% load formset_tags %}
        <div id="formset" data-formset-prefix="{{ position_formset.prefix }}">
            {{  position_formset.management_form }}
            <div data-formset-body>
                {% for position_form in position_formset %}  
                  <div data-formset-form>
                    {{ position_form.id }}
                    {{ position_form.title }}
                    {{ position_form.description }}
                    {{ position_form.project }}
                    <p>Skills:</p>
                    {% for checkbox in position_form.skills %}
                      <span>{{ checkbox.tag }} {{ checkbox.choice_label }}</span>
                    {% endfor %}
                    <br><br>
                    <a class="button button-text" style="padding: 0.3em" data-formset-delete-button>Remove</a>
                  </div>
                {% endfor %}
            </div>
            
            <script type="form-template" data-formset-empty-form>
                {% escapescript %}
                    <div data-formset-form>
                        {{ position_formset.empty_form.id }}
                        {{ position_formset.empty_form.title }}
                        {{ position_formset.empty_form.description }}
                        {{ position_formset.empty_form.project }}
                        <p>Skills:</p>
                        {% for checkbox in position_formset.empty_form.skills %}
                            <span>{{ checkbox.tag }} {{ checkbox.choice_label }}</span>
                        {% endfor %}
                        <br><br>
                        <a class="button button-text" style="padding: 0.3em" data-formset-delete-button>Remove</a>
                    </div>
                {% endescapescript %}
            </script>
            
            <input type="button" value="Add another" data-formset-add>
            <script>jQuery(function($) {
                $("#formset").formset({
                    animateForms: true
                });
            });</script>
        </div>
        
        <input type="submit" class="button button-primary" value="Save Changes">

      </div>
    </div>
    
    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <textarea name="estimate" placeholder="Time estimate" class="circle--textarea--input"></textarea>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <textarea name="requirements"></textarea>
      </div>

    </div>
  </div>
</form>
{% endblock %}